<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="ApiKey" value="kewNH5V5N1AYGVIK0jzP~vW290qNstsBFRNzq5Y3GJw~AsbK3zrBaHJ5U2NvqbGQ5-wOQ9MUFA2TQIwRMlmbm6yJCCOCQCA43ZhDbFmQtV_i"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
</configuration>